.repository-panel {

  .dropdown-menu {
    min-width: 100% !important;
    font-size: 28px;
  }

  .btn {
    min-width: 100% !important;
    font-size: 28px;
  }

  .modal-dialog {
    width: 600px;
  }
  .thumbnail {
    margin-bottom: 6px;
  }

  .internal {

    overflow: scroll !important;
  }
  .image-container {
    width: 950px;
    height: 500px;
    overflow-x: scroll;
    border: 1px solid rosybrown;
    background-color: lightgoldenrodyellow ;
  }
  .images{
    float: left;
    margin-left: 30px;
    margin-top: 20px;
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    background-color: #00ACED ;

  }
  .image-footer {
    padding: 10px;


  }
}
